.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.item1 {
  grid-area: header;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 200;
}
.item2 {
  grid-area: menu;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}
.item3 {
  grid-area: main;
  /* height: 580px; */
  /* height: 100%; */
  overflow: hidden;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-rows: 70px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "menu header header header header header"
    "menu main main main main main"
    "menu main main main main main";
  gap: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
